html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* material design items */
.material-icons {
  color: #f4f4f4;
  font-size: 18px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 30px;
  padding: 1px 5px 10px 5px;
}

.stats-item {
  margin: 0;
  padding: 0;
}

.stat-item {
  font-size: 14px;
}
